version: '3.1'

services: 
  db:
    container_name: pg-quarkus
    image: postgres:alpine
    ports:
      - '5432:5432'
    environment:
      POSTGRES_USER: 'postgre'
      POSTGRES_PASSWORD: 'postgre'
      POSTGRES_DB: 'teste'

  rabbitmq:
    image: 'rabbitmq:3.6-management-alpine'
    ports:
      # The standard AMQP protocol port
      - '5672:5672'
      # HTTP management UI
      - '15672:15672'
